// Color

$primary-color-50: #f3eafc;
$primary-color-100: #e8d4f9;
$primary-color-200: #d0aaf3;
$primary-color-300: #b97fee;
$primary-color-400: #a155e8;
$primary-color-500: #8a2ae2;
$primary-color-600: #7c26cb;
$primary-color-700: #6e22b5;
$primary-color-800: #611d9e;
$primary-color-900: #531988;

$primary-color: $primary-color-500;

$text-color: $oc-gray-7;
$background-color: #fdfdfd !default;


// Typography

$font-size-1: 42px;
$font-size-2: 28px;
$font-size-3: 24px;
$font-size-4: 20px;
$font-size-5: 16px;
$font-size-6: 14px;

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: $font-size-5;
$base-line-height: 1.75;


// Layout

$base-spacing: 8px;

@function spacing($multiplier) {
  @return $base-spacing * $multiplier;
}

$content-width: 700px;

@mixin style-container {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
