// Color

$brand-color: #8a2ae2;

$brand-color-light-1: #a155e8;
$brand-color-light-2: #b97fee;
$brand-color-light-3: #d0aaf3;
$brand-color-light-4: #e8d4f9;
$brand-color-light-5: #f3eafc;

$brand-color-dark-1: #7c26cb;
$brand-color-dark-2: #6e22b5;
$brand-color-dark-3: #531988;
$brand-color-dark-4: #37115a;
$brand-color-dark-5: #1c082d;

$text-color: #111;
$background-color: #fdfdfd !default;


// Typography

$font-size-1: 42px;
$font-size-2: 28px;
$font-size-3: 24px;
$font-size-4: 20px;
$font-size-5: 16px;
$font-size-6: 14px;

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: $font-size-5;
$base-line-height: 1.75;


// Layout

$base-spacing: 8px;

@function spacing($multiplier) {
  @return $base-spacing * $multiplier;
}

$content-width: 700px;

@mixin style-container {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
