@import "../../sass/variables/index";

.header {
  @include style-container;
  padding-top: spacing(2);
  padding-bottom: spacing(2);
}

.blogTitle {
  @include reset-link;
  font-size: $font-size-4;
  font-weight: 300;
}
