@import "../../sass/variables/index";

.footer {
  @include style-container;
  flex-shrink: 0;
  display: flex;
  padding-bottom: spacing(4);
  justify-content: space-between;
}

.footerLink {
  margin-right: spacing(2);
  color: $oc-gray-6;

  &:hover {
    color: $primary-color-500;
    border-bottom: 1px solid $primary-color-500;
  }

  .icon {
    margin-right: spacing(1);
  }
}
