@import "../../sass/variables/index";

.footer {
  @include style-container;
  flex-shrink: 0;
  display: flex;
  padding-bottom: spacing(4);
  justify-content: space-between;
}

.footerLink {
  margin-right: spacing(2);
  @include style-link-alt;

  .icon {
    margin-right: spacing(1);
  }
}
