// Reset some basic elements
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


// Basic styling
body {
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: spacing(2);
}


// Images
img {
  max-width: 100%;
  vertical-align: middle;
}


// Figures
figure > img {
  display: block;
}

figcaption {
  font-size: $font-size-6;
}


// Code formatting
// Block code is mostly handled by PrismJS
pre, code {
  border-radius: 4px;
}

code {
  padding: 1px 4px;
  margin: 0 2px;
  font-size: $font-size-6;
  border: 1px solid scale-color($primary-color-200, $saturation: -80%);
  border-radius: 4px;
  background-color: $primary-color-25;
}

pre code { // Reset for block code
  padding: 0;
  margin: 0;
  border: none;
  background-color: none;
}


// Tables
table {
  margin-bottom: spacing(4);
  width: 100%;
  text-align: left;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $oc-gray-5;
  tr {
    &:nth-child(even) {
      background-color: lighten($oc-gray-5, 6%);
    }
  }
  th, td {
    padding: spacing(1) spacing(1);
  }
  th {
    background-color: lighten($oc-gray-5, 3%);
    border: 1px solid darken($oc-gray-5, 4%);
    border-bottom-color: darken($oc-gray-5, 12%);
  }
  td {
    border: 1px solid $oc-gray-5;
  }
}


// Horizontal rule
hr {
  margin: spacing(4) auto;
  width: 80%;
  border: none;
  border-top: 1px solid $oc-gray-3;
}
