@import "../sass/variables/index";

html {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  @include style-container;
  flex: 1 0 auto;
  padding-bottom: spacing(8);
}

.footer {
  flex-shrink: 0;
}
